@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-darkerGrotesque: "Darker Grotesque", sans-serif; 
}